### The curse of dimensionality: BBC
Here is pathway toward aggregating, grouping and narrowing down your dataframe. (There is no right way--there are just ways that work better than others.)

In [35]:
sample_BBC = [
[' Mulholland Drive ',  'David Lynch',  '2001',  '1',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' In the Mood for Love ',  'Wong Kar-wai',  '2000',  '2',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' The Tree of Life ',  'Terrence Malick',  '2011',  '3',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' Yi Yi: A One and a Two ',  'Edward Yang',  '2000',  '4',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' Goodbye to Language ',  'Jean-Luc Godard',  '2014',  '5',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' The White Meadows ',  'Mohammad Rasoulof',  '2009',  '6',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' Night Across the Street ',  'Raoul Ruiz',  '2012',  '7',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' Certified Copy ',  'Abbas Kiarostami',  '2010',  '8',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' Sparrow ',  'Johnnie To',  '2008',  '9',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' Fados ',  'Carlos Saura',  '2007',  '10',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' In the Mood for Love ',  'Wong Kar-wai',  '2000',  '1',  'Sam Adams',  'Freelance film critic',  'US'], 
[' Eternal Sunshine of the Spotless Mind ',  'Michel Gondry',  '2004',  '2',  'Sam Adams',  'Freelance film critic',  'US'], 
[' Syndromes and a Century ',  'Apichatpong Weerasethakul',  '2006',  '3',  'Sam Adams',  'Freelance film critic',  'US'], 
[' Spirited Away ',  'Hayao Miyazaki',  '2001',  '4',  'Sam Adams',  'Freelance film critic',  'US'], 
[' The Act of Killing ',  'Joshua Oppenheimer',  '2012',  '5',  'Sam Adams',  'Freelance film critic',  'US'], 
[' The Grand Budapest Hotel ',  'Wes Anderson',  '2014',  '6',  'Sam Adams',  'Freelance film critic',  'US'], 
[' The New World ',  'Terrence Malick',  '2004',  '7',  'Sam Adams',  'Freelance film critic',  'US'], 
[' Certified Copy ',  'Abbas Kiarostami',  '2010',  '8',  'Sam Adams',  'Freelance film critic',  'US'], 
[' The World ',  'Jia Zhangke',  '2004',  '9',  'Sam Adams',  'Freelance film critic',  'US'], 
[' Elephant ',  'Gus Van Sant',  '2003',  '10',  'Sam Adams',  'Freelance film critic',  'US'], 
[' Zero Dark Thirty ',  'Kathryn Bigelow',  '2012',  '1',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' A History of Violence ',  'David Cronenberg',  '2005',  '2',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' The Grand Budapest Hotel ',  'Wes Anderson',  '2014',  '3',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Stories We Tell ',  'Sarah Polley',  '2012',  '4',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Casino Royale ',  'Martin Campbell',  '2006',  '5',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Eternal Sunshine of the Spotless Mind ',  'Michel Gondry',  '2004',  '6',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Tabu ',  'Miguel Gomes',  '2012',  '7',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Snow White ',  'Pablo Berger',  '2012',  '8',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Frozen River ',  'Courtney Hunt',  '2008',  '9',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Gosford Park ',  'Robert Altman',  '2001',  '10',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' In the Mood for Love ',  'Wong Kar-wai',  '2000',  '1',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' Mulholland Drive ',  'David Lynch',  '2001',  '2',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' Inception ',  'Christopher Nolan',  '2010',  '3',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[" Pan's Labyrinth ",  'Guillermo Del Toro',  '2006',  '4',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' Caché ',  'Michael Haneke',  '2005',  '5',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' Grizzly Man ',  'Werner Herzog',  '2005',  '6',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' 4 Months, 3 Weeks & 2 Days ',  'Cristian Mungiu',  '2007',  '7',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' Holy Motors ',  'Leos Carax',  '2012',  '8',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' The Last of the Unjust ',  'Claude Lanzmann',  '2013',  '9',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' There Will Be Blood ',  'Paul Thomas Anderson',  '2007',  '10',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' The Piano Teacher ',  'Michael Haneke',  '2001',  '1',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Margaret ',  'Kenneth Lonergan',  '2011',  '2',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' American Psycho ',  'Mary Harron',  '2000',  '3',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' 4 Months, 3 Weeks & 2 Days ',  'Cristian Mungiu',  '2007',  '4',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Caché ',  'Michael Haneke',  '2005',  '5',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Mulholland Drive ',  'David Lynch',  '2001',  '6',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Lourdes ',  'Jessica Hausner',  '2009',  '7',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Red Road ',  'Andrea Arnold',  '2006',  '8',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Boyhood ',  'Richard Linklater',  '2014',  '9',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Tony Manero ',  'Pablo Larraín',  '2008',  '10',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' No Country For Old Men ',  'Joel and Ethan Coen',  '2007',  '1',  'Tim Appelo',  'The Wrap',  'US'], 
[' Spirited Away ',  'Hayao Miyazaki',  '2001',  '2',  'Tim Appelo',  'The Wrap',  'US'], 
[' A Separation ',  'Asghar Farhadi',  '2011',  '3',  'Tim Appelo',  'The Wrap',  'US'], 
[" Pan's Labyrinth ",  'Guillermo Del Toro',  '2006',  '4',  'Tim Appelo',  'The Wrap',  'US'], 
[' Finding Nemo ',  'Andrew Stanton and Lee Unkrich',  '2003',  '5',  'Tim Appelo',  'The Wrap',  'US'], 
[' Hero ', 'Zhang Yimou', '2002', '6', 'Tim Appelo', 'The Wrap', 'US'], 
[' The Wolf of Wall Street ',  'Martin Scorsese',  '2013',  '7',  'Tim Appelo',  'The Wrap',  'US'], 
[' Mother ', 'Bong Joon-ho', '2009', '8', 'Tim Appelo', 'The Wrap', 'US'], 
[' The Bourne Ultimatum ',  'Paul Greengrass',  '2007',  '9',  'Tim Appelo',  'The Wrap',  'US'], 
[' Traffic ',  'Steven Soderbergh',  '2000',  '10',  'Tim Appelo',  'The Wrap',  'US'], 
[' These Encounters of Theirs ',  'Danièle Huillet and Jean-Marie Straub',  '2006',  '1',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Vincere ',  'Marco Bellocchio',  '2009',  '2',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Le quattro volte ',  'Michelangelo Frammartino',  '2010',  '3',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' The Profession of Arms ',  'Ermanno Olmi',  '2001',  '4',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Gostanza da Libbiano ',  'Paolo Benvenuti',  '2000',  '5',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Storia di una donna amata e di un assassino gentile ',  'Luigi M. Faccini',  '2009',  '6',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' At the First Breath of Wind ',  'Franco Piavoli',  '2003',  '7',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Sangue ',  'Pippo Delbono',  '2013',  '8',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Terra ',  'Marco De Angelis and Antonio Di Trapani',  '2015',  '9',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Oh! Man ',  'Yervant Gianikian and Angela Ricci Lucchi',  '2004',  '10',  'Adriano Aprà',  'Film historian',  'Italy']
]

Bring that into pandas

In [36]:
import numpy as np
import pandas as pd
col_names = ['movie', 'director', 'm_year', 'crit_rank','critic','crit_org','crit_cn']
df = pd.DataFrame.from_records(sample_BBC, columns=col_names)
df.loc[53]

movie          Pan's Labyrinth
director     Guillermo Del Toro
m_year                     2006
crit_rank                     4
critic               Tim Appelo
crit_org               The Wrap
crit_cn                      US
Name: 53, dtype: object

Right now there's only one Field with the country--the critics country. Let's group by that.

In [37]:
df.groupby('crit_cn')['critic'].nunique()

crit_cn
Italy     1
Mexico    1
UK        1
US        4
Name: critic, dtype: int64

In [38]:
#Narrowing down my data into a smaller frame

In [39]:
df1 = df.groupby('crit_cn')['movie'].value_counts().reset_index(name='count')
df1.head()

  crit_cn                          movie  count
0   Italy   At the First Breath of Wind       1
1   Italy          Gostanza da Libbiano       1
2   Italy              Le quattro volte       1
3   Italy                       Oh! Man       1
4   Italy                        Sangue       1

The cell above has the output I want,  but I need it to look nice and be combined in a single column.  This is how we build the **"article:"** field of our geojson doc. You need to combine columns of data into readable text.

In [40]:
#Moving the values from the two right columns into a new column
#One that human readers can understand
df1["string"] = df1["movie"] + ": " + df1["count"].map(str) + np.where(df1["count"]>1, ' votes', ' vote')
df1.head()

,crit_cn,movie,count,string
0,Italy,At the First Breath of Wind,1,At the First Breath of Wind : 1 vote
1,Italy,Gostanza da Libbiano,1,Gostanza da Libbiano : 1 vote
2,Italy,Le quattro volte,1,Le quattro volte : 1 vote
3,Italy,Oh! Man,1,Oh! Man : 1 vote
4,Italy,Sangue,1,Sangue : 1 vote

This is nice but I need to I have only **one row per country**. I do another group, and combine everything together. And when I do that I throw some HTML into there.

In [41]:
output = df1.groupby('crit_cn')['string'].apply(lambda x: "<p>%s</p>" % '</p><p> '.join(x)).reset_index(name='properties.article')
output

  crit_cn                                 properties.article
0   Italy  <p> At the First Breath of Wind : 1 vote</p><p...
1  Mexico  <p> 4 Months, 3 Weeks & 2 Days : 1 vote</p><p>...
2      UK  <p> 4 Months, 3 Weeks & 2 Days : 1 vote</p><p>...
3      US  <p> Certified Copy : 2 votes</p><p>  Eternal S...

In [42]:
output.iloc[3]['properties.article']

"<p> Certified Copy : 2 votes</p><p>  Eternal Sunshine of the Spotless Mind : 2 votes</p><p>  In the Mood for Love : 2 votes</p><p>  Spirited Away : 2 votes</p><p>  The Grand Budapest Hotel : 2 votes</p><p>  A History of Violence : 1 vote</p><p>  A Separation : 1 vote</p><p>  Casino Royale : 1 vote</p><p>  Elephant : 1 vote</p><p>  Fados : 1 vote</p><p>  Finding Nemo : 1 vote</p><p>  Frozen River : 1 vote</p><p>  Goodbye to Language : 1 vote</p><p>  Gosford Park : 1 vote</p><p>  Hero : 1 vote</p><p>  Mother : 1 vote</p><p>  Mulholland Drive : 1 vote</p><p>  Night Across the Street : 1 vote</p><p>  No Country For Old Men : 1 vote</p><p>  Pan's Labyrinth : 1 vote</p><p>  Snow White : 1 vote</p><p>  Sparrow : 1 vote</p><p>  Stories We Tell : 1 vote</p><p>  Syndromes and a Century : 1 vote</p><p>  Tabu : 1 vote</p><p>  The Act of Killing : 1 vote</p><p>  The Bourne Ultimatum : 1 vote</p><p>  The New World : 1 vote</p><p>  The Tree of Life : 1 vote</p><p>  The White Meadows : 1 vote</p><p>  The Wolf of Wall Street : 1 vote</p><p>  The World : 1 vote</p><p>  Traffic : 1 vote</p><p>  Yi Yi: A One and a Two : 1 vote</p><p>  Zero Dark Thirty : 1 vote</p>"

Now we need our **headline**:  I'm going to have it be the number of critics in the country. I make a mini dataframe That counts the number of critics, and I merge it with my output dataframe.

In [43]:
crits = df.groupby('crit_cn')['critic'].nunique().reset_index(name='properties.headline')
output = output.merge(crits, how='left', on='crit_cn')

In [44]:
output

,crit_cn,properties.article,properties.headline
0,Italy,<p> At the First Breath of Wind : 1 vote</p><p...,1
1,Mexico,"<p> 4 Months, 3 Weeks & 2 Days : 1 vote</p><p>...",1
2,UK,"<p> 4 Months, 3 Weeks & 2 Days : 1 vote</p><p>...",1
3,US,<p> Certified Copy : 2 votes</p><p> Eternal S...,4

In [45]:
#Turn that number and into something readable.
#Though here I don't pay any attention to the English language
output['properties.headline'] = output['properties.headline'].map(str) + " critic"

In [46]:
output

,crit_cn,properties.article,properties.headline
0,Italy,<p> At the First Breath of Wind : 1 vote</p><p...,1 critic
1,Mexico,"<p> 4 Months, 3 Weeks & 2 Days : 1 vote</p><p>...",1 critic
2,UK,"<p> 4 Months, 3 Weeks & 2 Days : 1 vote</p><p>...",1 critic
3,US,<p> Certified Copy : 2 votes</p><p> Eternal S...,4 critic

In [47]:
#Add some color
output['properties.color'] = "#000066"
output

,crit_cn,properties.article,properties.headline,properties.color
0,Italy,<p> At the First Breath of Wind : 1 vote</p><p...,1 critic,#000066
1,Mexico,"<p> 4 Months, 3 Weeks & 2 Days : 1 vote</p><p>...",1 critic,#000066
2,UK,"<p> 4 Months, 3 Weeks & 2 Days : 1 vote</p><p>...",1 critic,#000066
3,US,<p> Certified Copy : 2 votes</p><p> Eternal S...,4 critic,#000066